<html>
	<head>
		<title>{% block header %} Welcome to Typeracers, guys! {% end %}</title>
		<script type="text/javascript" src="{{ static_url('js/jquery.js') }}"></script>
		{% block js %}
		{% end %}
		<style type="text/css">
			.text_panel {
				margin-top: 20px; 
				font-size: 20px; 
				color: green; 
				border-bottom: 2px;
				display:none;
			}

			.big {
				font-size: 30px;
			}

			.road {
				border-bottom: 2px dashed; 
				margin-top: 20px;
			}

			.road img {
				position: relative;
				left: -350px;
			}

			.main {
				margin: auto; width:800px;
				text-align: center;
			}

			.text_field input {
				width: 800px; 
				height: 40px; 
				font-size: 30px; 
				border: 1px solid;
			}

			.selected {
				color: green;
			}
		</style>
	</head>
	<body>
		<div class="main">

			{% block logo %}
				<img src="{{ static_url('images/drop-the-flag.png') }}" width="800px"/>
				<hr/>
			{% end %}

			{% block content %}
				<div style="margin-top: 20px">
					<a href="/race">Join the race</a>
				</div>
			{% end %}

		</div>
	</body>
</html>