{% extends index.html %}

{% block header %}
	You're late, buddy!
{% end %}

{% block logo %}
	<img src="{{ static_url('images/late.jpg') }}" width="800px"/>
	<hr/>
{% end %}

{% block content %}
	<h3>You're late for race, buddy</h3>
{% end %}