{% extends index.html %}

{% block js %}
<script type="text/javascript" src="{{ static_url('js/timer.js') }}"></script>
{% end %}

{% block header %}
	You have just joined our race!!! Let's rock now!!!
{% end %}

{% block content %}
	<div id="time_panel">
		До начала гонки осталось <span id="timer" class="big">{{ time }}</span><br/>
		Количество гонщиков в заявке <span id="players" class="big">{{ len(players) }}</span>
		<input type="hidden" id="session" value="{{ session }}">
	</div>
	<div id="text_panel" class="text_panel">
	</div>
	<hr/>
	<div id="race_field">
	{% for idx, i in enumerate(players) %}
		<div id="road{{ i }}" class="road">
			<img src="{{ static_url('images/car%s.jpg' % (idx+1)) }}" id="{{ i }}">
			<input type="hidden" value="-350" id="hidden{{ i }}">
		</div>		
	{% end %}
	</div>
	<hr/>

	<div class="text_field">
		<input type="text" id="typing"/>
	</div>
{% end %}